<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535004444354-hudrfk0l137lroggbsr0j8v1fqkl65jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535004444354-hudrfk0l137lroggbsr0j8v1fqkl65jv</string>
	<key>API_KEY</key>
	<string>AIzaSyB77qmgRg0CipUSiY_ypSGxX7KK5znNgKE</string>
	<key>GCM_SENDER_ID</key>
	<string>535004444354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cb008385.lookgoodFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-lookgood-cb008385</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lookgood-cb008385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535004444354:ios:bb773b721baceb6412ed5b</string>
</dict>
</plist>